body {
  background-color:powderblue;
}
h1{
  color:#ffb6b6;
}
h3{
    color:#ffb6b6;
}

hr {

  border-style:dotted none none;
  border-color:grey;
  border-width:5px;
  width:10%;
}
